.venv
argmax.*.json
precomputed.*.json
certificate.*.json
placeholder.*.json
benchmark-queries.*.tsv
*.benchmark.tsv
!benchmarks/*.benchmark.tsv
.vscode
*.results.yaml
!results/**/*.results.yaml
*.csv

